# Build directories
build/
cmake-build-*/

# Generated ANTLR files
generated/
*.interp
*.tokens

# Compiled files
*.o
*.obj
*.exe
*.out
*.lib
*.dll

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Vcpkg (если используешь)
vcpkg/

# Executable твоего проекта
example
main